$black  :#202020;
$white  :#fff;
$light  :#adadad;
$primary:#1890ff;
$bubble :#3674ff;
$light_blue: #E5EDFF;


$blue_shadow: rgba(54,116,255, .2);
$light_shadow: rgba(54,116,255, .04);

$typing-bubble: #a6bdf0;