@import '~styles/variables';

.demo {
    border: 1px solid rgba($black, .1);

  }

.message{

    display: flex;
    align-items:flex-end;
    margin-bottom: 15px;
    flex-wrap: wrap;
    &__avatar{
       
        padding-right: 13px;
        img{
            width: 33px;
            height: 33px;
            border-radius: 50px;
        }
    }

    &__content{
        max-width: 60%;
    }

    &__bubble{
        background: $bubble;
        box-shadow: 0 5px 5px $blue_shadow;
        border-radius: 12px 12px 12px 0;
        padding: 17px;
        width: fit-content;
    }

    &__text{
        color:$white;
        line-height: 20px;
        margin: 0;
        
        p{
            margin: 0;
        }
    }

    &__attachments{
        display: flex;
        width: 100%;
       
        &--item{
            margin-top: 5px;
            margin-right: 5px;
            
            img{
                width: 45px;
                height: 45px;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }

    &__date{
        opacity: .5;
        font-size: 12px;
        width: 100%;
        margin-top: 10px;
        padding-left: 45px;
    }
}

.message{
    
    $self: &;

    &--isMain{

        flex-direction: row-reverse;

        #{$self}__avatar{
            padding-right: 0;
            padding-left: 13px;
        }

        #{$self}__info{
            margin-right: 15px;
           
        }

        #{$self}__info--readed{
            margin-right: 10px;
        }

        #{$self}__bubble{
            border-radius: 12px 12px 0 12px;
            border: 1px solid rgba($black, .2);
            background: $white;
            box-shadow: 0px 4px 4px rgba($white,  0.0220444);
        }

        #{$self}__text{
            color:$black;
        }

        #{$self}__attachments{
            flex-direction: row-reverse;
            margin-left: 0;
           
            &--item{
                margin-right: 0;
                margin-left: 5px;
            }
        }

        #{$self}__date{
            text-align: right;
            padding-right: 45px;
        }
        
    }
    

}
